a {
    text-decoration: none; 
}

body { 
    padding: 0px; 
    margin: 0px; 
}


.Octopus-logo {
    height: 65px;
    width: 11%; 
    background-color: #BDFAFF;
    position: absolute;

}

h1 {
    color:turquoise; 
    font-weight: 100;
    padding-right: 15px;
    font-family: helvetica;
    text-align: center; 
    position: relative;
    bottom: 8px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.25px;


}

.Top-banner {
    height: 65px;
    width: 89%; 
    background-color: #BDFAFF;
    position: absolute; 
    left: 150px;

}

.nav {
    background-color: #BDFAFF;
    opacity: 0.84;
    color: white;
    list-style: none;
    text-align: center;
    padding-bottom: 25px;
    position: relative;
    top: -4px;
    font-family: Helvetica;


}

.nav > li {
    display:inline-block;
    padding-right: 80px;
    padding-top: 10px; 

}

.nav > li > a {
    text-decoration: none;
    color:black;
    font-weight: 200;
}

.nav > li > a:hover {
    color:turquoise;
}

.Profile-box-on-navbar {
    position: absolute; 
    width: 10%;
    height: 65px;
    background-color: #BDFAFF; 
    left: 150px;

}

h2 {
    color:turquoise; 
    font-weight: 100; 
    font-size: 20px;
    font-family: sans-serif;
    text-align: left; 
    padding-top: 5px;
}
