a {
    text-decoration: none; 

}

body { 
    padding: 0px; 
    margin: 0px; 
}

.Octopus-logo {
    height: 65px;
    width: 11%; 
    background-color: #66DBFF;
    position: absolute;

}

h1 {
    color:white ; 
    font-weight: 100;
    padding-right: 5px;
    font-family: helvetica;
    text-align: center; 
    position: relative;
    bottom: 8px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0px;

}

.Top-banner {
    height: 65px;
    width: 90%; 
    background-color: #66DBFF;
    position: absolute; 
    left: 150px;

}

.nav {
    background-color: #66DBFF;
    opacity: 0.84;
    color: white;
    list-style: none;
    text-align: center;
    padding-bottom: 25px;
    position: relative;
    top: -4px;
    font-family: Helvetica;


}

.nav > li {
    display:inline-block;
    padding-right: 80px;
    padding-top: 10px; 

}

.nav > li > a {
    text-decoration: none;
    color:black;
    font-weight: 200;
}

.nav > li > a:hover {
    color:white;
}

.Profile-box-on-navbar {
    position: absolute; 
    width: 10%;
    height: 65px;
    background-color: #66DBFF; 
    left: 150px;

}

h2 {
    color:white; 
    font-weight: 100; 
    font-size: 20px;
    font-family: sans-serif;
    text-align: left; 
    padding-top: 5px;
}


.profile-picture {
    position: fixed; 
    width: 200px;
    height: 300px;
    background: #66DBFF;
    color: #fff;
    top:240px;
    right: 1130px;
    position: fixed; 
    transform: translate(-50%,-50%);
    box-sizing: border-box;



}

.text-box {
    position: fixed;
    width: 700px;
    height: 300px;
    background-color: #66DBFF;
    top:91px;
    right: 12.6cm;

}

p {
    
    font-size: 10px;
    text-align:center;
    color:#4D4D4D;
    font-weight: 100;
    padding-right: 150px;
    padding-left: 0px;
    padding-top:300px;
    font-family: Helvetica;
    display:inline;
    
}

.ratings-box {
    position: fixed; 
    width: 400px;
    height: 300px;
    top:91px;
    right: 10px;
    background-color: #66DBFF;

}

.text-box input[type="text"], input[type="text"] {
    width: 99%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none; 
    color: black;
    font-size: 16px;
    font-weight: 100;

}

.profile-picture input[type="png"], input[type="png"] {

    width: 99%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none; 
    color: black;
    font-size: 16px;
    font-weight: 100;
} 


.ratings-box input[type="text"], input[type="rating"] {
    width: 99%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none; 
    color: black;
    font-size: 16px;
    font-weight: 100;

}

h3 {
    color: white;
}